html {
  box-sizing: border-box;
  /* Default for mobile */
}

.section--hello,
.section--intro {
  position: relative;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

@media (max-width: 750px) {
  .block img {
    width: 100%;
    position: unset;
    margin-top: 35px;
  }
}

/*Side menu*/

.side {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1000;
  width: 50px;
  border-right: 1px dashed rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.5);
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.0875rem;
  font-size: 10px;
  transition: all 0.3s cubic-bezier(0.05, 0.69, 0.14, 1);
}
.side:hover {
  color: rgba(0, 0, 0, 0.5);
}
.side .side__inner {
  position: relative;
  height: 100%;
  white-space: nowrap;
}
.side a {
  color: inherit;
  word-spacing: 2px;
  transition: all 0.3s cubic-bezier(0.05, 0.69, 0.14, 1);
}
.side .top,
.side .bottom {
  position: absolute;
  left: 0;
  transform: rotate(-90deg) perspective(1px);
  transform-origin: 50px 50px;
  height: 50px;
  line-height: 50px;
  white-space: nowrap;
  word-spacing: 0.5rem;
}
.side .top {
  top: 125px;
  text-align: right;
  color: black;
}
.side .bottom {
  top: auto;
  bottom: 75px;
}
.side .bottom:hover a {
  color: rgba(0, 0, 0, 0.2);
}
.side .bottom:hover a:hover {
  color: rgba(0, 0, 0, 0.8);
}

/*Footer*/

footer {
  border-right: 1px dashed rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.5);
  font-family: "nimbus-sans", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.0875rem;
  font-size: 0.6rem;
  text-align: center;
  line-height: 200%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #b99467;
}

/*Sektioner*/

.section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  padding: 100px 50px 64px 79px;
  box-sizing: border-box; /* Sørger for at padding inkluderes i bredden */
}

.section .section__inner {
  height: 100%;
  max-width: 800px;
  margin: auto auto auto 0;
}
.section.section--hello {
  background-color: #b99467;
  color: #181818;
  padding-top: 10%;
  height: 750px;
}

@media (max-width: 750px) {
  .section {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;

    width: 100%;
    align-content: center;
    padding: 15vh 55px 34vh 75px;
  }

  .section .section__inner {
    height: 100%;
    max-width: 800px;
  }
  .section.section--hello {
    background-color: #b99467;
    color: #181818;
    padding-top: 10%;
    height: 400px;
  }

  .section.section--intro {
    min-height: 0vh;
    height: 300px;
  }

  .section.section--intro h2,
  p {
    top: 50px;
  }
}

.section.section--intro {
  background-color: #faf8f1;
  color: #555;
}

.section.section--card {
  background-color: #faf8f1;
  padding-top: 80px;
}

.section.section--text {
  background-color: #fbe699;
}

.section.section--portfolio {
  background-color: #faf8f1;
  color: white;
}

.section.section--portfolio1 {
  background-color: #b99467;
  color: white;
  padding-top: inherit;
}

.section.section--card img {
  width: 100%;
  padding-top: 4%;
}

/* javascript css*/
.pre {
  display: inline-block;
  font-size: 12px;
  margin: 0;
  opacity: 0.8;
  letter-spacing: 1.4px;
  word-spacing: 0.2rem;
  text-transform: uppercase;
  margin-bottom: 1em;
  color: inherit;
}
.pre span {
  font-size: 0.9em;
  margin-right: 0.4em;
  opacity: 0.5;
}
.pre:hover {
  opacity: 1;
}

p {
  font-size: 0.75rem;
  line-height: 1.4;
}

.lead {
  display: block;

  margin: 0;
}

.col_2 {
  display: grid;
  grid-template-columns: 2fr 2fr;
  gap: 10px;
}

.col_2 img {
  width: 100%;
}

.cv_con {
  padding-top: 4%;
}
